[Desktop Entry]
Version=0.9.0
Type=Application
Name=QMentat
GenericName=Mental Arithmetic Trainer
Comment=A trainer for mental arithmetic
Icon=QMentat.png
Exec=QMentat
Categories=Math;Education;

